@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #FFFFFF;
  color: #000000;
}

html {
  scroll-behavior: smooth;
}

header {
  max-width: 100vw;
}

main {
  margin: 50px 100px;
}
@media screen and (max-width: 376px) {
  main {
    margin: 27px 20px;
  }
}

footer {
  width: 100%;
  height: 209px;
  background-color: #000000;
}

.layout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.layout .layout-content {
  flex: 1;
}

.header__container {
  max-width: 100%;
  margin: 45px 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 376px) {
  .header__container {
    margin: 20px 20px 0;
  }
}
.header__container .header__logo {
  display: block;
}
@media screen and (max-width: 376px) {
  .header__container .header__logo {
    max-width: 145px;
  }
}
.header__container .header__nav {
  display: flex;
  align-items: center;
  gap: 57px;
}
@media screen and (max-width: 376px) {
  .header__container .header__nav {
    gap: 26px;
  }
}
.header__container .header__nav .nav__link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
}
@media screen and (max-width: 376px) {
  .header__container .header__nav .nav__link {
    font-size: 0.75rem;
  }
}
.header__container .header__nav .nav__link.active {
  text-decoration: underline;
}

.footer__container {
  margin: 66px auto 29px;
  text-align: center;
}
@media screen and (max-width: 376px) {
  .footer__container {
    width: 122px;
  }
}
.footer__container .footer__logo {
  margin-bottom: 32px;
}
@media screen and (max-width: 376px) {
  .footer__container .footer__logo {
    margin-bottom: 10px;
  }
}
.footer__container .footer__text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #FFFFFF;
}
@media screen and (max-width: 376px) {
  .footer__container .footer__text {
    font-size: 0.75rem;
  }
}

.banner {
  max-width: 100%;
  height: 223px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-image: url("../../assets/banner-homepage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6039215686);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 376px) {
  .banner {
    height: 111px;
    justify-content: flex-start;
    padding: 16px 32px;
  }
}
.banner .banner__text {
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
}
@media screen and (max-width: 376px) {
  .banner .banner__text {
    font-size: 1.5rem;
  }
}

.accomodations__card {
  height: 340px;
  width: 340px;
  border-radius: 10px;
  position: relative;
}
@media screen and (max-width: 376px) {
  .accomodations__card {
    width: 335px;
    height: 255px;
  }
}
.accomodations__card .card__cover {
  display: block;
}
.accomodations__card .card__title {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 1.125rem;
  font-weight: 700;
  color: #FFFFFF;
}

/*# sourceMappingURL=main.css.map */
