@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #FFFFFF;
  color: #000000;
}

html {
  scroll-behavior: smooth;
}

header {
  max-width: 100vw;
}

main {
  margin: 27px 20px;
}
@media screen and (min-width: 1023px) {
  main {
    margin: 50px 50px;
  }
}
@media screen and (min-width: 1439px) {
  main {
    margin: 50px 100px;
  }
}

footer {
  width: 100%;
  height: 209px;
  background-color: #000000;
}

@-webkit-keyframes close {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@keyframes close {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes open {
  0% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes open {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-120px);
  }
  to {
    transform: translateY(0px);
  }
}
@-webkit-keyframes slideDown {
  from {
    transform: translateY(-60px);
  }
  to {
    transform: translateY(60px);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-120px);
  }
}
@-webkit-keyframes slideUp {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-120px);
  }
}
.layout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.layout .layout-content {
  flex: 1;
}

.header__container {
  max-width: 100%;
  margin: 20px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1023px) {
  .header__container {
    margin: 45px 50px 0;
  }
}
@media screen and (min-width: 1439px) {
  .header__container {
    margin: 45px 100px 0;
  }
}
.header__container .header__logo {
  display: block;
  max-width: 145px;
}
@media screen and (min-width: 1439px) {
  .header__container .header__logo {
    max-width: 211px;
  }
}
.header__container .header__nav {
  display: flex;
  align-items: center;
  gap: 26px;
}
@media screen and (min-width: 1439px) {
  .header__container .header__nav {
    gap: 57px;
  }
}
.header__container .header__nav .nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  color: #000000;
}
@media screen and (min-width: 1439px) {
  .header__container .header__nav .nav__link {
    text-transform: none;
    font-size: 1.5rem;
  }
}
.header__container .header__nav .nav__link.active {
  text-decoration: underline;
}

.footer__container {
  margin: 66px auto 29px;
  text-align: center;
  width: 122px;
}
@media screen and (min-width: 1439px) {
  .footer__container {
    width: 100%;
  }
}
.footer__container .footer__logo {
  margin-bottom: 10px;
}
@media screen and (min-width: 1439px) {
  .footer__container .footer__logo {
    margin-bottom: 32px;
  }
}
.footer__container .footer__text {
  font-size: 0.75rem;
  font-weight: 500;
  color: #FFFFFF;
}
@media screen and (min-width: 1439px) {
  .footer__container .footer__text {
    font-size: 1.5rem;
  }
}

.banner {
  max-width: 100%;
  height: 111px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.banner.homepage {
  background: url("../../src/assets/banner-homepage.png");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner.about {
  background: url("../../src/assets/banner-about.png");
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: none;
}
@media screen and (min-width: 1439px) {
  .banner {
    height: 223px;
    border-radius: 25px;
    padding: 0;
    text-align: center;
  }
}
.banner .banner__text {
  font-size: 1.5rem;
  font-weight: 700;
  width: 225px;
  color: #FFFFFF;
}
@media screen and (min-width: 1439px) {
  .banner .banner__text {
    font-size: 3rem;
    width: 100%;
  }
}

.accomodations a {
  display: block;
  width: 335px;
  height: 255px;
  border-radius: 10px;
}
@media screen and (min-width: 1439px) {
  .accomodations a {
    height: 340px;
    width: 340px;
  }
}

.accomodations__card {
  height: 100%;
  border-radius: 10px;
  position: relative;
}
.accomodations__card .card__cover {
  display: block;
  width: 100%;
  max-height: 340px;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.accomodations__card .card__title {
  position: absolute;
  left: 20px;
  bottom: 15px;
  font-size: 1.125rem;
  font-weight: 700;
  color: #FFFFFF;
}
@media screen and (min-width: 1439px) {
  .accomodations__card .card__title {
    bottom: 20px;
  }
}

.collapse {
  width: 100%;
  margin-top: 20px;
}
@media screen and (min-width: 1439px) {
  .collapse {
    max-width: 1023px;
    margin: 30px auto 0;
  }
}
.collapse .collapse__title {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  border-radius: 5px;
}
@media screen and (min-width: 1439px) {
  .collapse .collapse__title {
    padding: 15px;
  }
}
.collapse .collapse__title h2 {
  font-size: 13px;
  font-weight: 700;
  color: #FFFFFF;
}
@media screen and (min-width: 1439px) {
  .collapse .collapse__title h2 {
    font-size: 1.5rem;
  }
}
.collapse .collapse__title .collapse__btn {
  width: 16px;
  cursor: pointer;
  transform: rotate(180deg);
}
.collapse .collapse__title .collapse__btn.open {
  animation: open 0.5s ease-in-out 1 forwards;
}
.collapse .collapse__title .collapse__btn.close {
  animation: close 0.5s ease-in-out 1 forwards;
}
@media screen and (min-width: 1439px) {
  .collapse .collapse__title .collapse__btn {
    width: 24px;
  }
}
.collapse .collapse__text {
  background-color: #F6F6F6;
  border-radius: 0 0 5px 5px;
  padding: 0 20px;
  font-size: 13px;
  color: #000000;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.5s ease;
}
.collapse .collapse__text.open {
  max-height: 500px;
  padding: 20px;
}
.collapse .collapse__text.close {
  max-height: 0;
  padding: 0 20px;
}
.collapse .collapse__text.open p {
  animation: slideDown 0.4s ease 1 forwards;
}
@media screen and (min-width: 1439px) {
  .collapse .collapse__text {
    font-size: 1.25rem;
  }
}

.accomodations {
  margin: 22px 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (min-width: 1439px) {
  .accomodations {
    margin: 43px auto 50px;
    padding: 56px 50px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 60px;
    background-color: #F6F6F6;
  }
}

/*# sourceMappingURL=main.css.map */
