@use '../../styles/variables';

.error {
    margin: 113px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 113px;
    text-align: center;

    .error__title,
    .error__message {
        color: variables.$main-color;
    }

    .error__message,
    .error__link {
        font-weight: 500;
    }

    .error__title {
        font-size: 6rem;
        font-weight: 700;

        &.accomodation {
            font-size: 4rem;
        }

        @media screen and (min-width: 1023px) {
            font-size: 18rem;
        }
    }

    .error__message {
        font-size: 1.125rem;
        width: 69%;

        @media screen and (min-width: 1023px) {
            font-size: 2.25rem;
        }
    }

    .error__link {
        font-size: .875rem;
        color: variables.$text-color;

        @media screen and (min-width: 1023px) {
            font-size: 1.125rem;
        }
    }
}

.back-button {
    padding: 10px;
    background-color: transparent;
    border: 1px solid variables.$main-color;
    border-radius: 10px;
    color: variables.$main-color;
    font-family: variables.$main-font;
    font-size: 1.125rem;
    cursor: pointer;
}